body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background: #333;
  color: #fff;
  padding: 1em 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-background {
  margin: 0;
  height: 100vh;
  background-image: url('Menu.imge/image1.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  color: white;
}

.menu-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.menu-category {
  background: rgba(0, 0, 0, 50%);
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 200px;
  max-width: 300px;
  min-width: 200px;

}

.menu-hidir {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.contact-background {
  margin: 0;
  height: 100vh;
  background-image: url('Contact.image/image2.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
}
