---
import Layout from "../components/layout.astro";
---

<Layout>
  <div class="contact-background">
    <h1>Contact Us</h1>
    <p>Feel free to contact us using the information below:</p>

    <section>
      <h2>Contact Reem</h2>
      <address>
        <p>Email: reem@example.com</p>
        <p>Phone: 123-456-7890</p>
      </address>
    </section>

    <section>
      <h2>Contact Qusai</h2>
      <address>
        <p>Email: qusai@example.com</p>
        <p>Phone: 987-654-3210</p>
      </address>
    </section>

    <section>
      <h2>Contact Mohamad</h2>
      <address>
        <p>Email: mohamad@example.com</p>
        <p>Phone: 555-123-4567</p>
      </address>
    </section>
  </div>
</Layout>