---
import Layout from "../components/layout.astro";
import Card from "../components/card.astro";
import "../../public/index.css";
---

<Layout>
  <section class="hero-container">
    <div class="hero-content">
      <h1 class="index-hidir">Welcome to our Syrian Restaurant</h1>
      <p class="index-p">Experience the best meal with us.</p>
    </div>
  </section>
</Layout>
