---
import Layout from "../components/layout.astro";
import { useState, useEffect } from "react";
---

<Layout>
  <div class="menu-background" style="background-size: cover;">
    <h1 class="menu-hidir">Menu</h1>
    <div class="menu-categories">
      <div class="menu-category">
        <h2>Pizzas</h2>
        <ul>
          <li>Pizza Margherita <button onclick="addToCart('Pizza Margherita')">Add to Cart</button></li>
          <li>Pizza Pepperoni <button onclick="addToCart('Pizza Pepperoni')">Add to Cart</button></li>
          <li>Pizza Quattro Stagioni <button onclick="addToCart('Pizza Quattro Stagioni')">Add to Cart</button></li>
        </ul>
      </div>
      <div class="menu-category">
        <h2>Salads</h2>
        <ul>
          <li>Caesar Salad <button onclick="addToCart('Caesar Salad')">Add to Cart</button></li>
          <li>Greek Salad <button onclick="addToCart('Greek Salad')">Add to Cart</button></li>
          <li>Caprese Salad <button onclick="addToCart('Caprese Salad')">Add to Cart</button></li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<script>
  function addToCart(item) {
    let cart = JSON.parse(localStorage.getItem("cart")) || [];
    cart.push(item);
    localStorage.setItem("cart", JSON.stringify(cart));
    alert(`${item} added to cart!`);
  }
</script>
