---
import Layout from "../components/layout.astro";
---

<Layout>
  <div class="menu-background" style="background-size: cover;">
    <h1 class="menu-hidir">Menu</h1>
    <p></p>
    <div class="menu-categories">
      <div class="menu-category">
        <h2>Pizzas</h2>
        <ul>
          <li>Pizza Margherita</li>
          <li>Pizza Pepperoni</li>
          <li>Pizza Quattro Stagioni</li>
        </ul>
      </div>
      <div class="menu-category">
        <h2>Salads</h2>
        <ul>
          <li>Caesar Salad</li>
          <li>Greek Salad</li>
          <li>Caprese Salad</li>
        </ul>
      </div>
      <div class="menu-category">
        <h2>Pasta</h2>
        <ul>
          <li>Pasta Carbonara</li>
          <li>Pasta Bolognese</li>
          <li>Spaghetti Aglio e Olio</li>
        </ul>
      </div>
      <div class="menu-category">
        <h2>Soft Drinks</h2>
        <ul>
          <li>Soft Drink Cola</li>
          <li>Soft Drink Lemonade</li>
          <li>Soft Drink Iced Tea</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>